// Custom layout styles
// Default font family
@font-face {
  font-family: 'gotham-rounded';
  src: url(gotham-rounded-medium.otf);
}
// Body background
body {
  background-image: url(body_bg.png);
  background-position: center;
  color: #fff;
}
// Logo
.title-area{
  a { padding:0 !important }
  i {
    font-size: 30px;
    position: relative;
    top: 2px;
  }
}



.top-bar{
  display: inline-block;
  position: relative;
  // font-size: rem-calc(25);
  // height: 10%;
  font-family: 'Baloo Tamma', cursive;
  margin: 1rem 0 0 0;
  padding: 1rem;
  width: 100%;
  line-height: 1rem;
} 
.top-bar span {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  color: white;
  opacity: 0.8;
}
.top-bar span:hover {
  opacity: 1.0;
}
.right {
  float: right;
  list-style-type: none;
  // line-height: 1.5rem;
  overflow: hidden;
  padding-top: 1%;
  margin: 0;
}
.right li {
  float: right;
  padding-right: 2rem;
}
.right li a {
  color: white;
  // text-decoration: underline;
  opacity: 0.8;
}
.right li a:hover {
  opacity: 1.0;
}

.cart-count {
  font-size: 1rem !important;
}


.search {
  display: inline-block;
  // width: 15rem;
  // height: 2.0rem;
  padding-top: 5% !important;
  line-height: inherit;
}
.search li {
  list-style-type: none;
  float: left;
}
.search li:first-child {
  padding-left: 1rem !important;
}
.btn {
  background-color: #B39600;
  height: 1.5rem;
  line-height: .3rem;
}
.fixy {
  margin: 0;
  padding: 0;
  padding-left: 5px !important;
  height: 1.6rem !important;
  line-height: 40px;
}
.button {
  margin: 0;
}


// Forms
.form-container {
  padding: 3% 3%;
  .switch > div {
    position: relative;
    top: -5px;
  }
}

// $topbar-link-bg-hover: $primary-color;
// $topbar-link-bg-active-hover: scale-color($primary-color, $lightness: -14%);
// $topbar-link-padding: $topbar-height / 3;


.movie-label {
  text-size:13px;
  background-color: #3D3D32;
  color: gold;
  border-radius: 8%;
}

.red {
  color: red;
}
